.flash-box
.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name
        hoge
      %ul.user-menu
        %li.user-menu__edit-user
          = link_to "/" do 
            %i.fa.fa-edit
        %li.user-menu__new-group
          = link_to "/" do 
            %i.fa.fa-cog
    .groups
      = link_to "/" do 
        .group
          %p.group__group-name
            hoge
          %p.group__latest-message 
            hogehoge
      = link_to "/" do 
        .group
          %p.group__group-name
            hoge
          %p.group__latest-message
            hogehoge
