.messages{
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: $messagesBackgroundColor;
  overflow: scroll;
  .message{
    padding-bottom: 40px;
    .upper-info{
      display: flex;
      margin-bottom: 10px;
      &__user{
        color: $messagesColor;
        font-size: $messagesFontSizeLarge;
        font-weight: bold;
      }
      &__date{
        color: $messagesDateColor;
        font-size: $messagesFontSizeSmall;
        margin-left: 10px;
      }
    }
    &__text{
      color: $messagesColor;
      font-size: $messagesFontSizeNormal;
      margin-bottom: 10px;
    }
  }
}
