// sidebar
$color: white;
$sidebarFontSizeNormal:    15px;
$sidebarFontSizeSmall:     11px;
$sidebarFontSizeLarge:     16px;


$sidebarGrey:#253141;
$sidebarLightgray:#2f3e51;

// chat-main
$buttonColer: #38aef0;


