// sidebar
$color: white;
$sidebarFontSizeNormal:    15px;
$sidebarFontSizeSmall:     11px;
$sidebarFontSizeLarge:     16px;


$sidebarGrey:#253141;
$sidebarLightgray:#2f3e51;

// chat-main
$chatmainBackgroundColor: #ffffff;
$chatmainColor: #333;
$chatmainFontSizeLarge: 20px;
$chatmainFontSizeSmall: 12px;

$messagesBackgroundColor: #fafafa;
$messagesColor: #434a54;
$messagesDateColor: #999999;
$messagesFontSizeNormal:    14px;
$messagesFontSizeSmall:     12px;
$messagesFontSizeLarge:     16px;

$bottomformBackgroundColor: #ddd;
$bottomformInputColor: #434a54;
$bottomformImageiconSize:1.3rem;



$borderbottomColor: #eee;
$buttonColor: #38aef0;
$buttontext: white;
$ulColor: #999999;




